* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0;
}

/* NAVEGACION */

.header {
    /* background-color: rgb(0,142,167); */
    background-color: rgb(250,250,250);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    border: 10 solid rgb(204,204,204);
}

.nav {
    display: flex;
    justify-content: space-between;

    /* max-width: 992px;
    margin: 0 auto; */
}

.nav-link {
    /* color: #fff; */
    color: black;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

i {
    color: black;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_activado:hover {
    /* background-color: rgb(27,235,223); */
    /* background-color: rgb(4, 114, 134); */
    background-color: rgb(193, 193, 193);
    transition: 0.8s;
}

.nav-barra {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }
    
    .header {
        height: 60px;
    }
    
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        /* background-color: rgb(0, 63, 74); */
        background-color: rgb(193, 193, 193);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item {
        line-height: 70px;
    }
    
    .nav-menu-link:hover,
    .nav-menu-link_activado:hover {
        /* background-color: rgb(27,235,223); */
        background: none;
        /* color: rgb(4, 114, 134); */
        color: rgb(23, 23, 23);
    }
    
    .nav-barra {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-barra:focus:not(:focus-visible){
        outline: none;
    }
}

/* INICIO */

.pagina {
    width: max-content;
    margin: 0 auto;
}

.contenedor-texto {
    /* width: max-content;
    margin: 0 auto; */

    background-color: rgb(132,152,151);
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    padding: 40px;
    color: #fff;
}

.subtitulo {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}



